<app-desafio></app-desafio>
<main>
    <h2 class="cd">Cadastro</h2>
    <!-- class cadastro para o h2 -->
    <div class="cadastro">
        <div>
            <p>Nome</p>
            <input type="text"><br>
        </div>
        <div>
            <p>E-Mail</p>
            <input type="text"><br>
        </div>
        <div>
            <p>Telefone</p>
            <input type="text"><br>
        </div>
    </div>
    <br><br>
    <button class="cadastrar">Cadastrar</button>
    <br><br>
    <!-- parte Nome, Email, Numero, Editar e Excluir -->
    <div class="todopne">
        <div class="paulo">
            <p>Paulo Andre</p>
            <p>Paulo@email.com</p>
            <p>3349 6788</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
        <div class="marcos">
            <p>Marcos Lucios</p>
            <p>marcos@email.com</p>
            <p>3349 6788</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
        <div class="laura">
            <p>Laura Port</p> 
            <p>laura@email.com</p>
            <p>3349 6788</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div><br><br>
</main>
<app-footer></app-footer>