<main>
    <!-- Primeiro Bolo -->
    <div class="slide"> 
        <img src="../../assets/slide5 1.png" alt="bolinho">
    </div>
    <br><br>
    <h2 class="vnd">Mais Vendidos</h2>
    <br><br>
    <!-- os três bolos -->
    <div class="bolos">
        <div class="cenoura">
            <img src="../../assets/cenoura 1.png" alt="Bolo de Cenoura"><br>
            <p>Bolo de Cenoura</p>
        </div>
        <div class="fuba">
            <img src="../../assets/fuba 1.png" alt="Bolo de Fuba"><br>
            <p>Bolo de Fubá</p>
        </div>
        <div class="laranja">
            <img src="../../assets/larnja 1.png" alt="Bolo de Laranjá"><br>
            <p>Bolo de Laranjá</p>
        </div>
    </div>
    <br><br>
    <h2 class="apv">Aproveite</h2>
    <br><br>
    <div class="cm">
        <div class="clube">
         <h2>Clube Assinatura</h2>
         <p>Se torne cliente fidelizado e receba divresas vantagens</p>
         <button>Saiba mais</button>
        </div>
        <div class="monte">
            <h2>Monte se Bolo</h2>
            <p>Escolha os ingredientes e receba um bolo feito para você!</p>
            <button>Saiba mais</button>
        </div>
    </div>
    <br><br>
    
</main>
