<app-desafio></app-desafio>
<main>
    <div class="fmimg">
        <h2 class="fm">Filmes</h2>
        <img src="../../assets/cinema 1.png" alt="cinema">
    </div>
    <h3>Cadastrar Filmes</h3>
    <div class="cage">
        <input type="text" id="titulo" placeholder="Título do Filme">
        <select id="genero">
            <option value="opcao1">Gênero</option>
        </select>
        <button class="salvar">Salvar</button>
    </div><br><br>
    <div class="categoria">
        <!-- As classes estão com nome de uma parte do filme -->
        <div class="outros">
            <p>Os outros</p>
            <p>Terros</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
        <div class="homen">
            <p>Até o Último homen</p>
            <p>Ação</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
        <div class="mascara">
            <p>Ó massacre</p>
            <p>Comedia</p>
            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div><br><br>
</main>
<app-footer></app-footer>