<app-desafio></app-desafio>
<main>
    <div class="gnimg">
        <h2 class="tt">Gênero</h2>
        <img src="../../assets/theater 1.png" alt="mascaras">
    </div>
    <h3>Cadastràr Gênero</h3>
    <div class="slv">
        <input type="text" placeholder="Gênero">
        <button class="salvar">Salvar</button>
    </div><br><br>
    <div class="genero">
        <div class="terror">
            <p>Terror</p>
            <div><button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>

        </div>
        <div class="acao">
            <p>Ação</p>
            <div>
                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>

        </div>
        <div class="comedia">
            <p>Comedia</p>
            <div>
                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>

        </div>
    </div><br><br>
</main>
<app-footer></app-footer>