@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

header{
    max-width: 1440px;
}

.todos {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: 'Poiret One', cursive;
}

.link {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    font-size: 30px;
}